<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre a página:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://media.istockphoto.com/vectors/confused-emoticon-vector-id134843485?k=20&m=134843485&s=612x612&w=0&h=3ZEkYvbgWm1t1K3m2VUkborFL4SLXkHuwmYThhfJXbI=" alt="">
  <h1>Ana Clara e Gabriela Silva</h1>
  <p>Estudantes da ETEC - Cidade do Livro</p>
  <a href="mailto: gabriela.silva1439@etec.sp.gov.br">gabriela.silva1439@etec.sp.gov.br</a>

</ion-content>
